@model List<PhoenixCust.CodeFirstEntities.Project>

@{
    ViewData["Title"] = "Home Page";
}
@foreach(var project in Model)
{
    <label>@project.ProjectName</label>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
